/** -----------------------------------------------------:[ Notices ]:---------- */
.bbp-template-notice {
	clear: both;
	margin-bottom: @spacing-base;
	p {
		margin-bottom: 0;
	}
	&.info {
		.notify( @info, "\f129" );
	}
}

// div.bbp-template-notice,
// div.indicator-hint {
// 	border-width: 1px;
// 	border-style: solid;
// 	padding: 0 0.6em;
// 	margin: 5px 0 15px;
// 	border-radius: 3px;
// 	background-color: #ffffe0;
// 	border-color: #e6db55;
// 	color: #000;
// 	clear: both;
// }
// div.bbp-template-notice a {
// 	color: #555;
// 	text-decoration: none;
// }
// 	div.bbp-template-notice a:hover {
// 		color: #000;
// 	}
// 	div.bbp-template-notice.info {
// 		border: #cee1ef 1px solid;
// 		background-color: #f0f8ff;
// 	}
// 	div.bbp-template-notice.important {
// 		border: #e6db55 1px solid;
// 		background-color: #fffbcc;
// 	}
// 	div.bbp-template-notice.error,
// 	div.bbp-template-notice.warning {
// 		background-color: #ffebe8;
// 		border-color: #c00;
// 	}
// 	div.bbp-template-notice.error a,
// 	div.bbp-template-notice.warning a {
// 		color: #c00;
// 	}
// 	div.bbp-template-notice p {
// 		margin: 0.5em 0 6px 0 !important;
// 		padding: 2px;
// 		font-size: 12px;
// 		line-height: 140%;
// 	}
