/** -----------------------------------------------------:[ Profiles ]:---------- */
#bbp-user-wrapper {
	.max-width( 1200px );
	margin-top: @spacing-base;
	margin-bottom: @spacing-base;
	.clearfix();
	#bbp-single-user-details {
		// .column( 2 );
	}
	#bbp-user-body {
		// .column( 10 );
		> div,
		> form {
			// margin-left: @spacing-base;
		}
	}
	#bbp-user-navigation {
		margin-bottom: @spacing-base;
		ul {
			overflow: hidden;
			text-align: center;
		}
		li {
			overflow: hidden;
			display: inline-block;
			width: 20%;
			&:first-child {
				a {
					border-left: 1px solid lighten( @light, 4% );
					border-radius: 2px 0 0 2px;
				}
			}
			&:last-child {
				a {
					border-radius: 0 2px 2px 0;
				}
			}
		}
		a {
			display: block;
			border-width: 1px 1px 1px 0;
			border-style: solid;
			border-color: lighten( @light, 4% );
			padding: 1em;
			color: lighten( @dark, 20% );
		}
		.current a,
		a:hover {
			background: @primary;
			color: #FFF;
		}
	}
	#bbp-user-avatar {
		text-align: center;
		img {
			margin: 0;
			border-radius: 100%;
		}
	}
	// Subscription toggle in topics list.
	.bbp-topic-title {
		position: relative;
		#subscription-toggle {
			position: absolute;
			left: -0.4em;
			top: 1.2em;
			a {
				display: block;
				background: #FFF;
				color: @orange;
				padding: 0;
				border-top-right-radius: 100%;
				&:hover {
					color: @light;
				}
				i {
					display: block;
					line-height: .7;
				}
			}
		}
		#favorite-toggle {
			position: absolute;
			left: -0.5em;
			top: 1em;
			a {
				display: block;
				background: #FFF;
				color: @yellow;
				padding: 4px 0 0;
				&:hover {
					color: @light;
				}
				i {
					display: block;
					line-height: .7;
				}
			}
		}
	}
	.bbp-user-notice {
		margin-bottom: 0;
	}
	.bbp-top-list {
		+ .bbp-pagination {
			margin-bottom: 0;
		}
	}
}

#bbp-user-profile {
	p {
		margin-bottom: 0;
	}
}

#bbp-your-profile {
	.max-width( 600px );
	label {
		margin-top: 2em;
		display: block;
	}
	legend {
		width: 100%;
		margin-bottom: @spacing-base / 2;
		background: @light;
		color: #FFF;
		span {
			display: inline-block;
			padding: 0.3em 1em;
			background: darken( @light, 30% );
		}
	}
	.bbp-form {
		margin-bottom: @spacing-base;
		&.password {
			input {
				
			}
			.description {
				display: block;
				font-size: 0.8em;
				color: darken( @light, 30% )
			}
		}
	}
}